body{
    /*background-image: url(https://media.giphy.com/media/ToMjGpPcTt3go0nrrFe/giphy.gif);*/
    background-size: cover;
    height: 100vh;
    padding:0;
}

nav {
    display: flex;
    padding: 0;
    margin: 0;
    height: 10em;
    
}

nav a{
    
    width: 50%;
}

.container {
    display: grid;
    grid-template-areas: 
                         'left right';
    
    
    border: solid 2px #05d9e8;
    height: 20rem; 
    box-shadow: 0 0 5rem #78a4ad inset;
    background: rgba(0,0,0,.75); 
    width: 1086px;
    margin: auto;
    height: 30em;
}

.left-column {
    grid-area: left;
}

.right-column {
    grid-area: right;
}

img {
    width: 15%;
    position: absolute;
    animation: run 2s linear infinite;
}

@keyframes run {
    100%{
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1086px) {
    .container{
        width: 95%;
    }
}