body{
    /*background-image: url(https://media.giphy.com/media/ToMjGpPcTt3go0nrrFe/giphy.gif);*/
    background-size: cover;
    height: 100vh;
    padding:0;
}

nav {
    display: flex;
    padding: 0;
    margin: 0;
    height: 10em;
    justify-content: flex-end;
    align-items: center;
    
}

nav a{
    width: 20%;
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    text-decoration: none;
    color: #05d9e8;
    text-shadow: 2px 2px #ff2a6d;
}

.container {
    display: grid;
    grid-template-areas: 
                         'left right';
    
    
    border: solid 2px #05d9e8; 
    border-radius: 8px;
    height: 20rem; 
    box-shadow: 0 0 5rem #78a4ad inset;
    background: rgba(0,0,0,.75); 
    width: 1086px;
    margin: auto;
    height: 30em;
}


.left-column {
    grid-area: left;
    padding-top: 90px;
    padding-left: 50px;
}

.typing {
    font-family: 'Teko', sans-serif;
    font-size: 55px;
    color: #05d9e8;
    text-shadow: 2px 2px #ff2a6d;
    overflow: hidden;
    white-space: nowrap;

    animation-name: typing;
    animation-duration: 5s;
    animation-timing-function: steps(14, end);
    animation-iteration-count: infinite;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
}

.intro {
    font-family: 'Teko', sans-serif;
    color: #05d9e8;
    text-shadow: 2px 2px #ff2a6d;
}

.right-column {
    grid-area: right;
}


.profile {
    position: relative; 
    width: 350px; 
    height: 350px;
    display: flex; 
    justify-content: center; 
    align-items: center
    
}

.round {
    animation: run 2s linear infinite;
    height: 220px; 
    width: 220px; 
    position: absolute;
  

}

.profilepic {
    height: 160px; 
    width: 160px;
    border-radius: 50%
  
}


@keyframes run {
    100%{
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1086px) {
    .container{
        width: 95%;
    }
}