body{
    background-image: url(https://media.giphy.com/media/ToMjGpPcTt3go0nrrFe/giphy.gif);
    background-size: cover;
    padding: 0;
    height: 100vh;
}

/* for all paragaph*/
p {
    font-size: 22px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10em;
}

nav{
    display: flex;
}

nav a{
    text-decoration: none;
    font-size: xx-large;
    padding: 0 1rem;
    color: #05d9e8;
    font-family: 'Teko', sans-serif;
}

nav  :hover{
    color: #d1f7ff;
}

.container {
    border: solid 2px;
    border-radius: 8px;
    height: 33em;
    margin: 0 auto 20px;
    padding: 35px;

    color: #05d9e8;
    font-family: 'Teko', sans-serif;

    width: 1086px;

    /* shadow:https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow5 */
    box-shadow: #78a4ad 0 0 80px inset;
    background: rgba(0, 0, 0, 0.904);

}

.index-container{
    display: grid;
    grid-template-areas: 
                        'left right';   
    text-align: center; 
}

span {
    color:#d1f7ff;
}

/* I wanted to make a typing animation but a bit difficult, so I couldn't make it on time*/
.typing{
    font-size: 55px;

    animation-name: typing;

}

@keyframes typing {
    
}

.left-column{
    grid-area: left;
    padding-top: 35px;
    padding-left: 50px;

    overflow: auto;
    height: 30em;
}

.right-column{
    grid-area: right;

}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    
}

.round{
    position: absolute;
    height: 280px;
    width: 280px;

    animation-name: run;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes run{
    100%{
        transform: rotate(360deg);
    }
}


.profilepic{
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact a{
    padding: 0 2rem;
}

.contact :hover{
    color: #d1f7ff;
}

.fa-envelope-square {
    color: #05d9e8;
}

.fa-github-square {
    color: #05d9e8;
}

.fa-linkedin {
    color: #05d9e8;
}


/* footer */

footer {
    width: 100%;
    text-align: center;
    color: grey;
    font-family: 'Teko', sans-serif;
}

/* email me page */

.contact-form {
    padding: 20px 200px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 30px;
    
}
  
input[type=submit] {
    background-color: #05d9e8;
    color:  #d1f7ff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d1f7ff;
    color: #05d9e8;
}
  

.formtext {
    height: 200px;
}

/* work page*/

.my-work {
    text-align: center;
    width: 100%;
}


li{
    list-style-type: none;
    height: 5rem;;
    color: #05d9e8;
    
}

li a {
    color: #05d9e8;
}

.article-header {
    text-align: center;
}

a {
    color: #05d9e8;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
}

li :hover {
    color: #d1f7ff;
}

.post {
    overflow: scroll;
    height: 30em;
    padding: 20px 120px;
}



/* about me page */

.about-me {
    padding: 20px 100px;
    overflow: auto;
    height: 30em;
}



/*  This should solve the screen problem... but not entirely, I am still trying to figure out
    moblie version haven't been set up yet

https://www.html5canvastutorials.com/blog/2011/08/making-website-fit-screen/*/

@media screen and (max-width: 1086px) {
    .container{
        width: 95%;
    }

}